<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap-theme.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">
    <title>Welcome to JsPartner</title>
</head>
<body>
    <div class="container-fluid">
        {% include "common/header.html" %}
        <div class="main">

        </div>
        <div class="footer"></div>
    </div>
</body>
<script type="text/javascript" data-main="{% static 'js/main' %}" src="{% static 'js/lib/require.js' %}"></script>
<script type="text/javascript" data-module="bootstrap"></script>
<script type="text/javascript" data-module="index"></script>
</html>
