{% extends "common/basic.html" %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'css/signup.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}User sign up{% endblock %}
{% block main %}
<form class="sign-up-form" action="/user/signup/" method="post">{% csrf_token %}
    <h3>User sign up</h3>
    <input type="text" class="form-control" name="name" placeholder="Name" autofocus="true">
    <input type="password" class="form-control" name="password" placeholder="Password">
    <input type="password" class="form-control" name="password_confirm" placeholder="Confirm password">
    <input type="text" class="form-control" name="email" placeholder="Email address">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-default btn-primary btn-block" type="submit">Sign up</button>
</form>
{% endblock %}
{% block script %}
<script type="text/javascript" data-module="signup"></script>
{% endblock %}