{% extends "common/basic.html" %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'css/basic.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}Change password{% endblock %}
{% block main %}
<form class="form-area" action="/user/change_password/" method="post">{% csrf_token %}
    <h3>Change password</h3>
    <input type="text" class="form-control" name="email" placeholder="Email" autofocus="true">
    <input type="password" class="form-control" name="password" placeholder="New password">
    <input type="password" class="form-control" name="password_confirm" placeholder="Confirm password">
    <button class="btn btn-default btn-primary btn-block" type="submit">Change password</button>
</form>
{% endblock %}
{% block script %}
{% endblock %}